{:paths ["src"]
 :deps
 {;; core
  org.clojure/clojure {:mvn/version "1.12.3"}
  org.clojure/core.async {:mvn/version "1.9.829-alpha2"}
  ;1.9.808-alpha1

  ; utils
  metosin/malli {:mvn/version "0.20.0"}
  cheshire/cheshire {:mvn/version "6.1.0"}
  hato/hato {:mvn/version "1.0.0"}
  com.github.julienba/clj-dot-prompt {:git/sha "3ee088914ca7d05725adf2e1570a36f5e585aa6f"}
  funcool/promesa {:mvn/version "11.0.678"}

  ;; logging
  org.clojure/tools.logging {:mvn/version "1.3.0"}
  ch.qos.logback/logback-classic {:mvn/version "1.5.21"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.julienba/hato-http-fake {:git/sha "f3dfe14303478cbee5bc495c2a79951a1aeab385"}}}
  :runner {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                        lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}
           :main-opts ["-m" "kaocha.runner"]}
  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
             :main-opts ["-m" "antq.core" "--no-diff"]}}}
